*{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  background: #F55A5A;
  color: white;
  justify-content: center;
}
h1{
  font-size: 60px;
  text-align: center;
}
nav>img{
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}